@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: 'montserrat-font', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
html {
  font-size: 1vw;
}
html > body[data-scroll-locked] {
  overflow: auto !important;
  --removed-body-scroll-bar-size: 0px;
  margin-right: 0 !important;
}

@media (min-width: 1921px) {
  html {
    font-size: 19.2px;
  }
}
:root {
  --background: #f8f9fa;
  --blueprimary: #007bff;
  --background-elevation5: #ffffff;
  --black-shadows: rgba(0, 0, 0, 0.15);
  --link: #007bff;
  --greyscale-text60: rgba(0, 0, 0, 0.6);
  --greyscale-text30: rgba(0, 0, 0, 0.3);
  --blueblue-400: #0056b3;
  --font-family-svn-gilroy-semibold: 'SVN-Gilroy', sans-serif;
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-size-xs: 12px;
  --font-size-l: 16px;
}
.lg-container {
  max-width: 1600px;
}

.shadow-banner {
  box-shadow: 0px 4px 32px #00266014;
}

.shadow-menu {
  box-shadow: 0px 0px 1px #0000000d;
}

.bg-gradient-radial {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.8) 32.426%,
    rgb(56, 182, 255) 100%
  );
}
html > body[data-scroll-locked] {
  overflow: auto !important;
  --removed-body-scroll-bar-size: 0px;
  margin-right: 0 !important;
}

@media (max-width: 639px) {
  html {
    font-size: 4.267vw;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-blue: #38b6ff;
    --12: 0.75rem;
    --greyscaletext-0: #fff;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply w-[88rem];
  }
  .content-p {
    @apply !font-roboto text-[1.125rem] xsm:text-[1rem] text-[rgba(0,0,0,0.80)] font-medium leading-[1.6] tracking-[-0.03rem] xsm:leading-[1.5];
  }
  .content-span {
    @apply !font-roboto text-[1.125rem] xsm:text-[1rem] text-[rgba(0,0,0,0.80)] font-medium leading-[1.6] tracking-[-0.03rem];
  }
  .content-strong {
    @apply !font-roboto text-black text-[1.125rem] xsm:text-[1rem] font-semibold leading-[1.6] tracking-[-0.045rem] xsm:leading-[1.4];
  }
  .content-em {
    @apply !font-roboto italic text-[1.125rem] xsm:text-[1rem] text-[rgba(0,0,0,0.60)] font-medium leading-[1.6] tracking-[-0.03rem] xsm:leading-[1.5];
  }
  .content-ul {
    @apply my-[0.25rem] list-disc pl-[1.5rem];
  }
  .content-ol {
    @apply my-[0.5rem] list-decimal pl-[1.5rem];
  }
  .content-ol--li,
  .content-ul--li {
    @apply !font-roboto text-[1.125rem] xsm:text-[1rem] text-[rgba(0,0,0,0.80)] !font-medium leading-[1.6] tracking-[-0.03rem];
  }
  .content-img {
    @apply m-0 rounded-[1.25rem] h-auto max-h-[80vh] max-w-[100%] object-contain xsm:mb-[0.75rem] xsm:mt-[1.5rem];
  }
  .content-detail-blog img:not([height='16']):not([width='16']) {
    @apply block mx-auto mb-[1.25rem] mt-[1.5rem];
  }
  .content-h2 {
    @apply !font-roboto mb-[1.5rem] xsm:mb-[1.5rem] xsm:mt-[1.5rem] sm:mt-[1.5rem] text-[1.5rem] xsm:text-[1.25rem] font-bold leading-[1.5] tracking-[-0.045rem] text-black;
  }
  .content-h3,
  .content-h4,
  .content-h5,
  .content-h6 {
    @apply !font-roboto my-[0.5rem] text-[1.25rem] xsm:text-[1.125rem] font-bold leading-[1.5] tracking-[-0.015rem] text-black;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
}
@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-font';
  src: url('./fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.custom-dot {
  border-radius: 0.625rem;
  background: var(--Blue-blue-800, #1f648c) !important;
  border-radius: 0.625rem !important;
  width: 2.5rem !important; /* 10px = 2.5rem */
  height: 0.25rem !important; /* 1px = 0.25rem */
}
.hidden_scroll {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.hidden_scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
#cxgenie-chat-button {
  right: 2.5rem !important;
  bottom: 1.5rem !important;
}
@media screen and (max-width: 768px) {
  .preny-open {
    right: 1rem !important;
    bottom: 1rem !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  #cxgenie-chat-button {
    width: 2.5rem !important;
    height: 2.5rem !important;
    bottom: 1.5rem !important;
    right: 1.5rem !important;
  }
}

/* Ẩn spinner trên Chrome, Safari, Edge */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn spinner trên Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.fill-primary {
  fill: #38b6ff;
  stroke: #38b6ff;
}

.drawer-transition {
  transtion: all 0.7s ease-in-out;
}

.btn-faq[data-state='open'] {
  @apply text-Blue-Primary;
}

.btn-faq > .lucide-chevron-down {
  @apply -rotate-90;
}

.btn-faq:hover > .lucide-chevron-down {
  @apply text-Blue-Primary;
}

.btn-faq[data-state='open'] > .lucide-chevron-down {
  @apply rotate-0 text-Blue-Primary;
}
